body {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.main {
  position: relative;

  flex-basis: 80%;
  margin: 5em auto;
  min-width: 870px;
}

.heading {
  background-color: rgb(255, 102, 0);
  position: relative;
  padding: 1.3em 3em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title,
.button {
  display: inline-block;
}

.title {
  margin-right: 2em;
  font-weight: 900;
  font-size: 1.3em;
}

.title:hover {
  cursor: pointer;
}

.button {
  padding: 0 5px;
  color: rgb(0, 26, 255);
  font-weight: 700;
}

.users {
  float: right;
  color: whitesmoke;
  padding: 0 10px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  color: white;
}

.helloMsg {
  padding: 0 10px;
  float: right;
  color: whitesmoke;
}

.body {
  position: relative;
  min-height: 300px;
  background-color: whitesmoke;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em 3em;
}

#form {
  margin: 2em 5em 6em 4em;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.body-content {
  margin: 2em 0;
  font-size: 1.2em;
}

.title-list {
  padding-left: 0.8em;
  padding-right: 0.5em;
}
.url-list {
  color: gray !important;
  font-size: 0.8em;
}

/* .url-list:hover {
  cursor: pointer;
  text-decoration: underline;
} */

li {
  margin-bottom: 10px;
}

.fa-star {
  display: none;
}

.fa-star:hover {
  cursor: pointer;
}

.list a,
.myStorylist a {
  color: black;
  text-decoration: none;
}

.list a:hover,
.myStorylist a:hover {
  color: blue;
}

.login-err-msg,
.signup-err-msg {
  text-align: center;
  color: red;
}

.newStories,
.profile {
  display: none;
}

#logout-msg {
  text-align: center;
  color: rgb(9, 196, 9);
}

.profile-content {
  display: none;
  margin: 3em auto;
}

.greeting {
  margin-bottom: 1.5em;
}

.scrollspy-example {
  position: relative;
  height: 350px;
  overflow: auto;
}

#userinfo {
  margin: 2em 0 6em 0;
  color: grey;
}

hr.style8 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  margin-top: 10em;
}
hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

#scroll1,
#scroll2,
#scroll3 {
  margin: 6em 0;
}

.mystories {
  margin-bottom: 2em;
}

#mystoriesHeader {
  margin: 2em;
}

.myStorylist {
  margin: 1em 3em;
  font-size: 1.2em;
}

.fa-trash-alt {
  padding-left: 3em;
  color: red;
}

.fa-edit {
  padding-left: 2em;
}

.fa-trash-alt:hover,
.fa-edit:hover {
  cursor: pointer;
}

.editS {
  max-width: 70%;
}
